%h1
  Debit Cards

%table.table.table-bordered
  %thead
    %tr
      %th Card Number
      %th Issue Date
      %th Expiry Date
      %th Pin Number
      %th Actions
  %tbody
    - @debit_cards.each do |debit_card|
      %tr
        %td #{cebit_card.card_no}
        %td #{cebit_card.issue_date}
        %td #{cebit_card.expiry_date}
        %td #{cebit_card.pin_no}
        %td
          = link_to debit_cards_path(cebit_card: cebit_card_id), class: "btn btn-primary" do
show