%h1
  Accounts

= link_to new_account_path, class: "btn btn-primary" do
  New Account

%table.table.table-bordered
  %thead
    %tr
      %th Account Number
      %th User
      %th Balance
      %th Actions
  %tbody
    - @accounts.each do |account|
      %tr
        %td #{account.account_no}
        %td 
          = link_to user_path(account.id) do 
            #{account.user}
        %td #{number_to_currency(account.balance, unit: "p")}
        %td
          = link_to accounts_path(account: account_id), class: "btn btn-primary" do
show